<!DOCTYPE html><html class=''>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0," />
<link rel='stylesheet' href='{{ url_for('static', filename='css/bookings.css') }}' />
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600' rel='stylesheet' type='text/css'>
<link href="//netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css" rel="stylesheet">
</head><body>

<div class="testbox">
  <h1>{{ title }}</h1>
    <form action="" method=post enctype=multipart/form-data><p>
    <input type=file name=file><br/><br/>
    <input type=submit value=Upload>
    </form>
</div>
</body></html>
